name: Build PingoMeter

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        architecture: [x64, arm64]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        cache: true

    - name: Restore dependencies
      run: dotnet restore --locked-mode Source/PingoMeter.csproj

    - name: Publish project
      run: dotnet publish Source/PingoMeter.csproj --configuration Release /p:DebugType=None /p:DebugSymbols=false --output Release-${{ matrix.architecture }} --arch ${{ matrix.architecture }}

		- name: Upload Release artifact
      uses: actions/upload-artifact@v4
      with:
        name: PingoMeter-${{ matrix.architecture }}
        path: Release-${{ matrix.architecture }}/
        if-no-files-found: error
