name: Build PingoMeter

on:
  push:
    branches: [ main, ci ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: read

jobs:
  release_drafter:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-22.04

    steps:
    - name: Draft Release Notes for main branch pushes
      uses: release-drafter/release-drafter@v6
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        config-name: release-drafter.yml

  build:
    # Windows is required for Wix MSI packaging
    runs-on: windows-2022

    strategy:
      matrix:
        architecture: [x64, arm64]

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
        cache: true

    - name: Restore dependencies
      run: dotnet restore Source/PingoMeter.csproj

    - name: Publish project
      run: dotnet publish Source/PingoMeter.csproj --configuration Release /p:DebugType=None /p:DebugSymbols=false --output Release-${{ matrix.architecture }} --arch ${{ matrix.architecture }}

    - name: Build MSI Installer
      run: dotnet build Installer/PingoMeter.Installer.wixproj --configuration Release /p:Architecture=${{ matrix.architecture }}
      env:
        BUILDARCH: ${{ matrix.architecture }}

    - name: Upload Release artifact
      uses: actions/upload-artifact@v6
      with:
        name: PingoMeter-${{ matrix.architecture }}
        path: Release-${{ matrix.architecture }}/
        if-no-files-found: error

    - name: Upload MSI Installer
      uses: actions/upload-artifact@v6
      with:
        name: PingoMeter-Installer-${{ matrix.architecture }}
        path: artifacts/installer/Release/${{ matrix.architecture }}/*.msi
        if-no-files-found: error
