name: Release Build

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: write

defaults:
  run:
    shell: pwsh

env:
  VERSION: ${{ github.event.release.tag_name }}

jobs:
  publish_chocolatey:
    environment: Chocolatey
    runs-on: windows-2025
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Push to Chocolatey
        run: |
          choco apikey -k ${{ secrets.CHOCOLATEY_API_KEY }} --source https://push.chocolatey.org/

          $nuspecPath = "Installer/Chocolatey/PingoMeter/pingometer.nuspec"
          $installScriptPath = "Installer/Chocolatey/PingoMeter/tools/chocolateyinstall.ps1"
          $VERSION = $env:VERSION
          (Get-Content $nuspecPath) -replace '__VERSION__', $VERSION | Set-Content $nuspecPath
          (Get-Content $installScriptPath) -replace '__VERSION__', $VERSION | Set-Content $installScriptPath
          "Version set to $VERSION in nuspec file and install script."
          $tempMsiPath = "TEMP:/pingometer.msi"

          Invoke-WebRequest -OutFile $tempMsiPath -Uri "https://github.com/JustinGrote/PingoMeter/releases/download/v$VERSION/PingoMeter-$VERSION-x86.msi"
          Get-FileHash $tempMsiPath -Algorithm SHA256 | ForEach-Object {
            $checksum = $_.Hash
            (Get-Content $installScriptPath) -replace '__CHECKSUM__', $checksum | Set-Content $installScriptPath
            "Checksum set to $checksum in install script."
          }

          Push-Location "Installer/Chocolatey/PingoMeter"
          "Current dir: $pwd"
          Get-Childitem $pwd
          "Starting Pack"
          & choco pack
          & choco push --source https://push.chocolatey.org/
          Pop-Location