name: Release Build

on:
  release:
    types: [published]

defaults:
  run:
    shell: pwsh

jobs:
  publish_chocolatey:
    environment: Chocolatey
    runs-on: windows-2025
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Push to Chocolatey
        env:
          GH_TOKEN: ${{ github.token }} # For GH CLI
        run: |
          $tagName = '${{ github.event.release.tag_name }}'
          $version = $tagName.TrimStart('v')
          Write-Host "Push to Chocolatey with Release tag: $tagName, Version: $version"

          choco apikey -k ${{ secrets.CHOCOLATEY_API_KEY }} --source https://push.chocolatey.org/

          $msiAsset = gh release view $tagName --json assets
          | ConvertFrom-Json
          | Foreach-Object assets
          | Where-Object { $_.name -like "PingoMeter-*-x86.msi" }

          if (!$msiAsset) {
            Write-Error "Pingometer x86 msi asset not found for release $tagName. Does the release exist?"
            exit 1
          }

          $msiAssetUri = $msiAsset.url
          $msiHash = $msiAsset.digest -replace '^sha256:', ''
          "Found MSI asset URI: $msiAssetUri"

          $nuspecPath = "Installer/Chocolatey/PingoMeter/pingometer.nuspec"
          $installScriptPath = "Installer/Chocolatey/PingoMeter/tools/chocolateyinstall.ps1"

          (Get-Content $nuspecPath) -replace '__VERSION__', $VERSION | Set-Content $nuspecPath
          (Get-Content $installScriptPath) -replace '__VERSION__', $VERSION | Set-Content $installScriptPath
          "Version set to $VERSION in nuspec file and install script."

          (Get-Content $installScriptPath) -replace '__CHECKSUM__', $msiHash | Set-Content $installScriptPath
          "Checksum set to $msiHash in install script."

          Push-Location "Installer/Chocolatey/PingoMeter"
          "Current dir: $pwd"
          Get-Childitem $pwd
          "Starting Pack"
          & choco pack
          & choco push --source https://push.chocolatey.org/
          Pop-Location