<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="PingoMeter"
    Name="PingoMeter"
    Version="$(var.Version)"
    Manufacturer="Justin Grote github.com/JustinGrote"
    InstallScope="perUser"
    Compressed="yes">

    <Feature Id="ProductFeature" Title="PingoMeter" Level="1">
      <ComponentRef Id="PingoMeterExeComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="PingoMeter" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="PingoMeter" />
    </StandardDirectory>
  </Package>

  <Fragment>
    <ComponentGroup Id="PingoMeterFiles" Directory="INSTALLFOLDER">
      <Component Id="PingoMeterExeComponent">
        <File Id="PingoMeterExe" Name="PingoMeter.exe" Source="$(var.SourceDir)PingoMeter.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ShortcutGroup" Directory="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent">
        <Shortcut Id="StartMenuShortcut"
                  Name="PingoMeter"
                  Target="[LocalAppDataFolder]PingoMeter\PingoMeter.exe"
                  WorkingDirectory="LocalAppDataFolder" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\PingoMeter" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>

