<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="PingoMeter"
    Name="PingoMeter"
    Version="$(Version)"
    Manufacturer="Justin Grote github.com/JustinGrote"
    Compressed="yes"
    Scope="perUser"
  >
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="Icon.exe" SourceFile="$(SourceDir)\Resources\op.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon.exe" />
    <Property Id="ALLUSERS" Secure="yes" Value="2"/>
    <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />

    <!-- Install into the user's LocalAppDataFolder -->
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="ApplicationFolder" Name="PingoMeter">
        <Directory Id="ResourcesFolder" Name="Resources" />
      </Directory>
    </StandardDirectory>

    <!-- Start Menu shortcuts -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuApplicationFolder" Name="PingoMeter" />
    </StandardDirectory>

    <ComponentGroup Id="PingoMeterFiles" Directory="ApplicationFolder">
      <Component Id="PingoMeterExecutable" Guid="*">
        <File Id="PingoMeterExe" Source="$(SourceDir)\PingoMeter.exe" KeyPath="yes">
          <Shortcut Id="PingoMeterShortcut" Directory="ProgramMenuApplicationFolder" Name="PingoMeter" Advertise="yes" Icon="Icon.exe" />
        </File>
      </Component>
      <Component Id="PingoMeterConfig" Guid="*">
        <File Id="PingoMeterConfigFile" Source="$(SourceDir)\pingometer.exe.config" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PingoMeterResources" Directory="ResourcesFolder">
      <Component Id="PingoMeterResource1" Guid="e9fb189f-b18c-465a-b74a-0d977cb3933e">
        <File Id="PingoMeterResourceFile1" Source="$(SourceDir)\Resources\none.png"/>
        <File Id="PingoMeterResourceFile2" Source="$(SourceDir)\Resources\op.ico" />
        <File Id="PingoMeterResourceFile3" Source="$(SourceDir)\Resources\op.png" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Cleanup" Directory="ProgramMenuApplicationFolder">
      <Component Id="RemoveShortcutFolder" Guid="e9fb189f-b18c-465a-b74a-0d977cb3933f">
        <!-- Dumb workaround for only be referenced in a shortcut -->
        <RegistryValue Root="HKCU" Key="Software\PingoMeter" Name="Installed" Value="1" Type="string" KeyPath="yes" />
        <RemoveFolder Id="ProgramMenuApplicationFolder" On="uninstall" />
      </Component>
    </ComponentGroup>

    <Feature Id="App">
      <ComponentGroupRef Id="PingoMeterFiles" />
      <ComponentGroupRef Id="PingoMeterResources" />
      <ComponentGroupRef Id="Cleanup" />
    </Feature>
  </Package>
</Wix>

